<!-- <h1>Hello Angular 2!</h1>
<h2>asdasd</h2>
<h3>{{appName}}</h3>
<input type="text" [(ngModel)]="appName">
<button (click)="hello()">click me</button>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods">
      <td>{{good.name}}</td>
      <td>{{good.price}}</td>
    </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let good of goods">{{good.name}}</li>
</ul>

<div id="wrapper">
  <div *ngFor="let good of goods">
    <p>{{good.price}}</p>
  </div>
</div> -->


<nav>
  <a routerLink="/first" routerLinkActive="active">first</a>
  <span>|</span>
  <a routerLink="/second" routerLinkActive="active">second</a>
  <span>|</span>
  <a routerLink="/newchild" routerLinkActive="active">newchild</a>
  <span>|</span>
  <a routerLink="/binding" routerLinkActive="active">binding</a>
  <span>|</span>
  <a routerLink="/directive" routerLinkActive="active">directive</a>
  <span>|</span>
  <a routerLink="/todo" routerLinkActive="active">todo</a>
</nav>

<!-- <h1>My first Angular App</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore eos, cumque porro numquam recusandae veniam optio
  repellat voluptas necessitatibus consectetur! Iste iure delectus animi eum blanditiis cum laborum enim.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore eos, cumque porro numquam recusandae veniam optio
  repellat voluptas necessitatibus consectetur! Iste iure delectus animi eum blanditiis cum laborum enim.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore eos, cumque porro numquam recusandae veniam optio
  repellat voluptas necessitatibus consectetur! Iste iure delectus animi eum blanditiis cum laborum enim.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore eos, cumque porro numquam recusandae veniam optio
  repellat voluptas necessitatibus consectetur! Iste iure delectus animi eum blanditiis cum laborum enim.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore eos, cumque porro numquam recusandae veniam optio
  repellat voluptas necessitatibus consectetur! Iste iure delectus animi eum blanditiis cum laborum enim.</p> -->


<router-outlet></router-outlet>

<!-- <first-component></first-component>
<second-component></second-component> -->